In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/final.csv")[["Coordinates", "Name"]]
df = df.drop(labels=3168).reset_index().drop(columns="index")

In [3]:
df.insert(2, "lat", "")
df.insert(3, "lon", "")

df.Coordinates.isnull().value_counts()

df[df.Coordinates.isnull()]

In [4]:
for i in range(len(df.Coordinates)):
    df.Coordinates[i] = str(df.Coordinates[i])
    df["lat"][i] = eval(df.Coordinates[i])[0]
    df["lon"][i] = eval(df.Coordinates[i])[1]

In [6]:
df = df[["Name", "lat", "lon"]]

In [8]:
df.to_csv("r4map.csv", header=True, index=False)

In [10]:
df

                        Name        lat        lon
0           Ihr Koch on Tour   52.45481   13.59031
1          Pizzawerkköpenick   52.45481   13.59031
2                  Pizzawerk   52.45481   13.59031
3                   Veracruz   52.45268   13.59594
4                 Marina Sol   52.44842   13.61015
...                      ...        ...        ...
3342      Restaurant Maracas   52.43003   13.47804
3343  Verde's Pizza & Gelato   52.42294   13.47549
3344      Eiscafé Kunterbunt   52.40663   13.34947
3345       Osteria Ballerino  52.441673  13.189119
3346              Lindwerder  52.467532  13.195814

[3347 rows x 3 columns]

In [13]:
!ls data/r4map.csv

data/r4map.csv

In [14]:
pd.read_csv('data/r4map.csv')

                        Name        lat        lon
0           Ihr Koch on Tour  52.454810  13.590310
1          Pizzawerkköpenick  52.454810  13.590310
2                  Pizzawerk  52.454810  13.590310
3                   Veracruz  52.452680  13.595940
4                 Marina Sol  52.448420  13.610150
...                      ...        ...        ...
3342      Restaurant Maracas  52.430030  13.478040
3343  Verde's Pizza & Gelato  52.422940  13.475490
3344      Eiscafé Kunterbunt  52.406630  13.349470
3345       Osteria Ballerino  52.441673  13.189119
3346              Lindwerder  52.467532  13.195814

[3347 rows x 3 columns]