In [1]:
import pandas as pd
import numpy

In [3]:
data = pd.read_csv("../geotracker/data/lieferando_restaurants_from_api.csv")
data.head()

,restaurant_name,platform,reviews,avg_review_score,street,zip_code,city,latitude,longitude,type_of_cuisine,avg_delivery_time,pricyness,delivery_fee,minimum_order_value
0,Funa Sushi Zehlendorf,lieferando,94,4.7,Brümmerstraße 40,14199,Berlin,52.453214,13.286496,"['sushi_51', 'asian_1864', 'poke-bowl_2318']",40,0,0,990
1,Bowlicious,lieferando,64,4.1,Meerscheidtstr. 4,14199,Berlin,52.509210,13.280169,"['vegetarian_391', 'japanese_551', 'asian_1864']",45,0,0,1500
2,SL Pizza Felice,lieferando,69,3.8,Leipziger Straße 58,14199,Berlin,52.511330,13.397020,"['italian-pizza_271', 'pasta_1614', 'falafel_1...",25,0,150,3500
3,Nampan Restaurant,lieferando,205,4.5,Oranienburger Straße 66,14199,Berlin,52.525028,13.391678,"['sushi_51', 'japanese_551', 'vietnamese_261']",40,0,290,7500
4,Miu Sushi,lieferando,2107,4.8,Eisenacher Straße 80,14199,Berlin,52.488982,13.349936,"['sushi_51', 'asian_1864', 'poke-bowl_2318']",50,1144,0,2000

In [5]:
wolt_clean = pd.read_csv("../geotracker/data/wolt_clean_data.csv")
wolt_clean.head()

,Unnamed: 0,restaurant_name,avg_review_score,minimum_order_value,delivery_fee,pricyness,avg_delivery_time_clean,type_of_cuisine_categorized,street,zip_code,city_name,latitude,longitude,database
0,0,Besh,8.8,10.0,NaN,€,35.0,vegetarian or vegan,Brückenstraße 15,10179,Berlin,52.511595,13.416639,wolt
1,1,Five Rivers,8.8,10.0,NaN,€€,55.0,asian,Albrechtstraße 11,10117,Berlin,52.521463,13.384837,wolt
2,2,Ferrarino Pizza,8.6,10.0,NaN,€€,35.0,italian,Garnisonkirchpl. 2,10178,Berlin,52.521830,13.401740,wolt
3,3,Hito Falafel,9.0,10.0,NaN,€€,35.0,middle eastern,Chauseestraße 4,10115,Berlin,52.527780,13.386926,wolt
4,4,Miu Lunch,NaN,10.0,1.9,€,NaN,asian,Reinhardtstraße 47 A,10117,Berlin,52.522177,13.378188,wolt

In [ ]:
# TODO: rename platform variable to database


# TODO: multiply review score by 2 
# TODO: convert minimum order value into euros (from cents)
# TODO: convert delivery fee into euros
# TODO: categorize type of cuisine