In [2]:
import pandas as pd
from geotracker.recommender.functions import (
    get_circlegrid_list,
    restaurants_in_circle,
    restaurants_meeting_criteria,
)

SyntaxError: invalid syntax (functions.py, line 49)

In [ ]:
%load_ext autoreload
%autoreload 2

In [7]:
!pwd

/Users/malte/code/ayelenklas/geotracker/notebooks

In [8]:
import os
os.getcwd()

'/Users/malte/code/ayelenklas/geotracker/notebooks'

In [3]:
restaurants_df = pd.read_csv("../geotracker/data/deliveries_data.csv")


restaurants_df

,Unnamed: 0,restaurant_name,avg_review_score,reviews,minimum_order_value,delivery_fee,pricyness,avg_delivery_time,type_of_cuisine,address,street,zip_code,city_name,coordinates,latitude,longitude,database
0,0,BunUp Mitte,7.8,NaN,10.00,NaN,1.0,35.0,vegetarian or vegan,"This is a virtual venue, 10178.0, Berlin",This is a virtual venue,10178.0,Berlin,"52.5238316,13.3985704",52.523832,13.398570,wolt
1,1,Machiavelli,8.4,NaN,10.00,1.90,2.0,NaN,european,"Albrechtstr.13 Berlin, 10117.0, Berlin",Albrechtstr.13 Berlin,10117.0,Berlin,"52.52130280012305,13.385180090564926",52.521303,13.385180,wolt
2,2,Pizza Peppino,NaN,NaN,10.00,NaN,1.0,35.0,european,"Tucholskystraße 13, 10117.0, Berlin",Tucholskystraße 13,10117.0,Berlin,"52.52339332586772,13.391764043640274",52.523393,13.391764,wolt
3,3,Fresh's,7.8,NaN,10.00,NaN,1.0,35.0,poke,"This is a virtual venue, 10178.0, Berlin",This is a virtual venue,10178.0,Berlin,"52.5238316,13.3985704",52.523832,13.398570,wolt
4,4,Bombay,8.4,NaN,10.00,NaN,2.0,35.0,middle eastern,"Friedrichstraße 106c, 10117.0, Berlin",Friedrichstraße 106c,10117.0,Berlin,"52.5232743,13.3884602",52.523274,13.388460,wolt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4686,3325,McDonald's®,9.2,506.0,15.00,0.00,0.0,20.0,american,"Potsdamer Straße 2, 14165.0, Teltow",Potsdamer Straße 2,14165.0,Teltow,"52.3949025,13.2379828",52.394903,13.237983,lieferando
4687,3326,Domino's Pizza,9.2,524.0,7.90,0.00,1002.0,25.0,italian,"Potsdamer Straße 53, 14165.0, Teltow",Potsdamer Straße 53,14165.0,Teltow,"52.4016624,13.2594647",52.401662,13.259465,lieferando
4688,3327,Le Asia,8.6,951.0,15.00,0.00,819.0,30.0,asian,"Potsdamer Straße 61, 14165.0, Teltow",Potsdamer Straße 61,14165.0,Teltow,"52.4013361,13.2605517",52.401336,13.260552,lieferando
4689,3328,burgerme,8.6,84.0,6.99,1.99,0.0,30.0,american,"Bäckerstraße 4, 14165.0, Teltow",Bäckerstraße 4,14165.0,Teltow,"52.40144,13.2633133",52.401440,13.263313,lieferando
4690,3329,Osteria Ballerino,9.0,225.0,25.00,0.00,1017.0,25.0,italian,"Ruhlsdorfer Strasse 14-16, 14165.0, Stahnsdorf",Ruhlsdorfer Strasse 14-16,14165.0,Stahnsdorf,"52.3911,13.22569",52.391100,13.225690,lieferando

In [4]:
dict_list = []

In [6]:
center_lat = 52.507906
center_lon = 13.390864

print(center_lat)
print(center_lon)

52.507906
13.390864

In [7]:
type(restaurants_df.loc[0, :])

pandas.core.series.Series

In [48]:
boolean_mask = []
for index, row in restaurants_df.iterrows():
    out = is_restaurant_in_circle(row, center_lat, center_lon, degradius)
    boolean_mask.append(out)


pd.Series(boolean_mask).value_counts()

False    218
True      25
dtype: int64

In [12]:
checkpoint_charlie_restaurants = restaurants_in_circle(restaurants_df, center_lat, center_lon, degradius)
checkpoint_charlie_restaurants

NameError: name 'degradius' is not defined

In [54]:
calculate_circle_weights(checkpoint_charlie_restaurants)

20

In [55]:
dict_list = []
for spacing in spacings:
    center_coords, mradius, degradius = get_circle_centers_radius(spacing)
    for center_coord in center_coords:
        center_lat = center_coord[0]
        center_lon = center_coord[1]
        restaurants_in_circle_df = restaurants_in_circle(
            restaurants_df, center_lat, center_lon, degradius
        )
        circle_weight = calculate_circle_weights(
            restaurants_in_circle_df, good_review_threshold=5
        )

        circle_dict = dict(
            center_lat=center_coord,
            center_lon=center_lon,
            mradius=mradius,
            degradius=degradius,
            spacing=spacing,
            circle_weight=circle_weight,
        )
        dict_list.append(circle_dict)

SyntaxError: invalid syntax (2701919485.py, line 11)

In [ ]:
circle_df = pd.DataFrame(dict_list)
circle_df.to_csv("geotracker/data/circle_weights.csv")

# Dings haha distance calculation

In [17]:
restaurant_lat = restaurants_df.loc[1, "latitude"]
restaurant_lon = restaurants_df.loc[1, "longitude"]
print(restaurant_lat)
print(restaurant_lon)

52.52130280012305
13.385180090564926

In [8]:
from geopy import distance

center = (center_lat, center_lon)
center

(52.507906, 13.390864)

In [18]:
restaurant = (restaurant_lat, restaurant_lon)

distance.distance(center, restaurant).km

1.5398866449146733

In [16]:
import numpy as np
center = (center_lat, center_lon)

restaurants_clean = restaurants_df.dropna(subset=["latitude", "longitude"])
restaurants_clean.loc[:, "distance_to_circle_center"] = np.nan
for index, row in restaurants_clean.iterrows():
    restaurant = (row["latitude"], row["longitude"])
    dist = distance.distance(center, restaurant).km
    restaurants_clean.loc[index, "distance_to_circle_center"] = dist


restaurants_clean.distance_to_circle_center.head()

/Users/malte/.pyenv/versions/3.8.12/envs/geotracker/lib/python3.8/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/Users/malte/.pyenv/versions/3.8.12/envs/geotracker/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

0    1.847762
1    1.539887
2    1.724468
3    1.847762
4    1.717908
Name: distance_to_circle_center, dtype: float64

In [15]:
kmradius = 1.5
matched_restaurants = restaurants_clean.loc[restaurants_clean["distance_to_circle_center"] <= kmradius]
matched_restaurants.head()

,Unnamed: 0,restaurant_name,avg_review_score,reviews,minimum_order_value,delivery_fee,pricyness,avg_delivery_time,type_of_cuisine,address,street,zip_code,city_name,coordinates,latitude,longitude,database,distance_to_circle_center
5,5,Goodtime,8.8,NaN,10.0,NaN,3.0,35.0,asian,"Hausvogteiplatz 11a , 10117.0, Berlin",Hausvogteiplatz 11a,10117.0,Berlin,"52.512719989573846,13.396920166606986",52.512720,13.396920,wolt,0.675299
6,6,Da Vinci Ristorante,7.6,NaN,10.0,NaN,2.0,35.0,italian,"Georgenstraße 192, 10117.0, Berlin",Georgenstraße 192,10117.0,Berlin,"52.5201646,13.3913112",52.520165,13.391311,wolt,1.364439
7,7,Ristorante Bella Vita,7.6,NaN,10.0,NaN,2.0,35.0,italian,"Mittelstraße 62, 10117.0, Berlin",Mittelstraße 62,10117.0,Berlin,"52.5179452,13.389358",52.517945,13.389358,wolt,1.121802
8,8,Rotes Kamel,8.6,NaN,10.0,NaN,2.0,35.0,steak,"Hannah-Arendt-Str. 4, 10117.0, Berlin",Hannah-Arendt-Str. 4,10117.0,Berlin,"52.5140041,13.3811706",52.514004,13.381171,wolt,0.945297
17,17,Mr Imbiss Berlin,NaN,NaN,10.0,1.9,NaN,NaN,NaN,"Schützenstraße 2, 10117.0, Berlin",Schützenstraße 2,10117.0,Berlin,"52.508507041615765,13.390493204098584",52.508507,13.390493,wolt,0.071464